.title {
    display: inline-flex;
    border: 3px solid red;
    width: 45%;
    height: 6vh;
    vertical-align: top;
    margin-top: 1vh;
    
}

.title h1{
    display: inline;
    font-size: 3em;
    
    
}
.title h2{
    display: inline;
    font-size: 2em;
    font-weight: 400;
    margin-left: 10px;
    align-content: center;
    
}