.container {
    margin: auto;
    width: 1000px;
    justify-items: center;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(31, 137, 224);
    
}

.heading {
    color: rgb(238, 220, 57);
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: rgb(238, 220, 57);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
}

.main {
    margin: auto;
    width: 1000px;
    justify-items: center;
    font-family: 'Segoe UI', sans-serif;
}

